{{define "_button-style"}}
{{if once "button-style"}}
<style>
  .ha-button {
    min-width: 5em;
    cursor: pointer;
    overflow: visible;
  }
    
  .ha-button-icon {
    font-size: 1.6em;
    line-height: 1;
    margin-right: 0.25em;
  }

  .ha-button-label {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    white-space: nowrap;
  }

  .ha-button.pressed {
    opacity: 0.5;
  }
</style>
{{end}}
{{end}}
{{define "_button"}}
<div class="ha-button entity card padding transition-fast border flex flex-col">
  <button class="ha-button-body btn" title="{{.Label}}">
    <div class="ha-button-content flex align-center">
    {{if .Icon}}
      <span class="ha-button-icon interactive-muted">
        {{if isEmoji .Icon}}
            {{.Icon}}
        {{else}}
            {{icon .Icon}}
        {{end}}
      </span>
     {{end}}
      <span class="ha-button-label entity-label on-surface">{{.Label}}</span>
    </div>
    <div style="height: 2.25em;"></div>
  </button>
</div>
  <script>
  component(function(wrapper) {
    var entityId = '{{.EntityID}}';
    var domain = entityId.split('.')[0];
    var btn = wrapper.firstElementChild;

    var toggleOrPressMap = {
        'input_button': 'press',
        'switch': 'toggle',
        'light': 'toggle',
        'input_boolean': 'toggle',
        'button': 'press',
        'scene': 'turn_on',
        'script': 'turn_on'
    }

    btn.addEventListener('click', function() {
      btn.classList.add('pressed');
      setTimeout(function() { btn.classList.remove('pressed'); }, 300);
    
      window.haSend({
        type: 'call_service',
        domain: domain,
        service: toggleOrPressMap[domain],
        target: { entity_id: entityId }
      });
    });
  });
  </script>
{{end}}
{{define "button"}}
  {{template "_button-style"}}
  {{template "_button" .}}
{{end}}