{{define "_toggle-style"}}
<style>
  .ha-toggle {
    min-width: 80px;
    cursor: pointer;
    overflow: visible;
  }

  .ha-toggle-body {
    height: fit-content;
    flex-direction: row;
  }

  .ha-toggle-icon {
    font-size: 1.6em;
    line-height: 1;
    margin-right: 4px;
  }

  .ha-toggle.off .ha-toggle-icon {
    opacity: 0.38;
  }

  .ha-toggle-label {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    white-space: nowrap;
    color: rgba(255,255,255,0.6)
  }

  .ha-toggle-pill {
    width: 1.25em;
    height: 2.25em;
    border-radius: 0.625em;
    border: 1px solid;
    position: relative;
    pointer-events: none;
    margin-left: 0.5em;
    margin-right: 0.1em;
  }
  
  .ha-toggle-pill::after {
    content: '';
    position: absolute;
    top: 1.1875em;
    left: 0.2em;
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
  }

  .ha-toggle.on .ha-toggle-pill::after {
    transform: translateY(-1em);
  }
</style>
{{end}}
{{define "_toggle-open"}}
<div class="ha-toggle card entity border off card-wrapper flex flex-col">
  <button class="ha-toggle-body card entity transition-fast btn card-inner" title="{{.Label}}">
    <div class="ha-toggle-left flex flex-row align-center">
      {{if .Icon}}
      <span class="ha-toggle-icon interactive">
        {{if isEmoji .Icon}}
            {{.Icon}}
        {{else}}
            {{icon .Icon}}
        {{end}}
      </span>
      {{end}}
      <span class="ha-toggle-label entity-label on-surface">{{.Label}}</span>
    </div>
    <div class="ha-toggle-pill flex-shrink-0 state-bg state-border"></div>
  </button>
{{end}}
{{define "_toggle-script"}}
<script>
component(function(wrapper) {
  var entityId = '{{.EntityID}}';
  var domain = entityId.split('.')[0];
  var btn = wrapper.querySelector('.ha-toggle-body');

  function setState(state) {
    if (state === 'on') {
      wrapper.classList.remove('off');
      wrapper.classList.add('on');
    } else if (state === 'off') {
      wrapper.classList.remove('on');
      wrapper.classList.add('off');
    }
  }

  window.entityListeners[entityId].push(function(state, attributes) {
    setState(state);
  });

  btn.addEventListener('click', function() {
    window.haSend({
      type: 'call_service',
      domain: domain,
      service: 'toggle',
      target: { entity_id: entityId }
    });
  });
});
</script>
{{end}}
{{define "toggle"}}
  {{if once "toggle-style"}}
    {{template "_toggle-style"}}
  {{end}}
{{template "_toggle-open" .}}
</div>
{{template "_toggle-script" .}}
{{end}}