{{define "_dateclock"}}
{{if once "dateclock-style"}}
<style>
    .dateclock-container {
        z-index: 20;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        pointer-events: none;
        flex-grow: 1;
        font-size: calc(8vw + 1em);
        min-width: 7ch;
    }
    .clock {
        font-weight: 600;
        margin-bottom: 0rem;
        letter-spacing: -0.02em;
        text-align: center;
    }

    .date {
        font-size: 0.5em;
        font-weight: 600;
    }
</style>
{{end}}
<div class="dateclock-container on-bg">
    <div class="clock"></div>
    <div class="date"></div>
</div>
{{end}}
{{define "dateclock-controller"}}
<script>
    component(function(root) {
    var clockEl = root.querySelector(".clock")
    var dateEl = root.querySelector(".date")

    var locale = window.CONFIG.locale;
    var timezone = window.CONFIG.timezone;
    var hour12 = {{if .Hour12}}true{{else}}false{{end}};

    function updateTime() {
        var now = new Date();

        var time = now.toLocaleTimeString(locale, {
            hour: '2-digit',
            minute: '2-digit',
            {{if .ShowSeconds}}
                second: '2-digit',
            {{end}}
            hour12: hour12,
            timeZone: timezone
        });

        var day = now.toLocaleDateString(locale, {
            weekday: 'long',
            timeZone: timezone
        });

        var date = now.toLocaleDateString(locale, {
            dateStyle: 'short',
            timeZone: timezone
        });
        {{if .CapitaliseDay}}
        day = day.charAt(0).toUpperCase() + day.slice(1);
        {{end}}
        var date = now.toLocaleDateString(locale);

        clockEl.textContent = time;
        dateEl.textContent = day + ', ' + date;
    }

    setInterval(updateTime, 1000);
    updateTime();
    });
</script>
{{end}}
{{define "dateclock"}}
{{template "_dateclock"}}
{{template "dateclock-controller" .Dateclock}}
{{end}}