{{define "dateclock"}}
<style>
    .dateclock-container {
        {{/* position: absolute;
        top: 33vh;
        left: 0;
        right: 0; */}}
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        pointer-events: none;
    }
    .clock {
        font-size: calc(8vw + 1em);
        font-weight: 600;
        margin-bottom: 0rem;
        letter-spacing: -0.02em;
    }

    .date {
        font-size: calc(2vw + 1em);
        font-weight: 600;
    }
</style>
<div class="dateclock-container">
    <div class="clock" id="clock"></div>
    <div class="date" id="date"></div>
</div>
<script>
    var locale = window.CONFIG.locale;
    var timezone = window.CONFIG.timezone;
    var hour12 = {{if .Dateclock.Hour12}}true{{else}}false{{end}};
    function updateTime() {
        var now = new Date();

        var time = now.toLocaleTimeString(locale, {
            hour: '2-digit',
            minute: '2-digit',
            {{if .Dateclock.ShowSeconds}}
                second: '2-digit',
            {{end}}
            hour12: hour12,
            timeZone: timezone
        });

        var day = now.toLocaleDateString(locale, {
            weekday: 'long',
            timeZone: timezone
        });

        var date = now.toLocaleDateString(locale, {
            dateStyle: 'short',
            timeZone: timezone
        });
        {{if .Dateclock.CapitaliseDay}}
        day = day.charAt(0).toUpperCase() + day.slice(1);
        {{end}}
        var date = now.toLocaleDateString(locale);

        document.getElementById('clock').textContent = time;
        document.getElementById('date').textContent = day + ', ' + date;
    }

    setInterval(updateTime, 1000);
    updateTime();
</script>
{{end}}