{{define "entities"}}
<style>
    #entities-container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: stretch;
        align-items: stretch;
        max-width: 75vw;
        font-size: {{if .Theme.Entities.FontSize}}{{.Theme.Entities.FontSize}}px{{else}}inherit{{end}};
    }
    #entities-container > .card {
        margin: 5px;
        {{template "create-card-theme" .Theme.Entities}}
    }
</style>
<div id="entities-container" style="order: {{.Screen.Order.Entities}}">
{{$allDomains := .Screen.Entities | entityIDs | domains}}
{{if anyOfIn $allDomains "switch" "input_boolean" "light" "fan"}}
    {{template "toggle-style" .Theme}}
{{end}}
{{if anyOfIn $allDomains "light" "fan"}}
    {{template "adjustable-chevron-style" .Theme}}
{{end}}
{{if anyOfIn $allDomains "button" "input_button" "scene" "script"}}
    {{template "button-style" .Theme}}
{{end}}

{{range .Screen.Entities}}
    {{if domainIn .EntityID "switch" "input_boolean"}}
        {{template "toggle" .}}
    {{else if domainIn .EntityID "light" "fan"}}
        {{template "adjustable" .}}
    {{else if domainIn .EntityID }}
        {{template "button" .}}
    {{else}}
        {{template "button" .}}
    {{end}}
{{end}}
</div>
<script>
    component(function(container) {
    var cards = container.querySelectorAll('.card');
    var maxW = 0;
    var maxH = 0;
    var i;
    for (i = 0; i < cards.length; i++) {
        if (cards[i].offsetWidth  > maxW) maxW = cards[i].offsetWidth;
        if (cards[i].offsetHeight > maxH) maxH = cards[i].offsetHeight;
    }
    for (i = 0; i < cards.length; i++) {
        cards[i].style.width  = maxW + 'px';
        cards[i].style.height = maxH + 'px';
    }
});
</script>
{{end}}