{{define "entities"}}
<style>
    #entities-container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: stretch;
        align-items: stretch;
        max-width: 75vw;
        margin-top: 40px;
    }
    #entities-container > .card {
        margin: 5px;
        {{if enabledByDefault .Theme.Entities.Borders}}
        border: 2px solid {{.Theme.Entities.BorderColor | default "rgba(130,185,255,0.10)"}};
        {{end}}
        background-color: {{.Theme.Entities.Background | default "rgba(20, 20, 20, 0.75)"}}
    }
</style>
<div id="entities-container">
{{$theme := .Theme}}
{{range .Entities}}
    {{if domainIn .EntityID "switch" "input_boolean"}}
        {{template "toggle" (dict "Entity" . "Theme" $theme)}}
    {{else if domainIn .EntityID "light" "fan"}}
        {{template "adjustable" (dict "Entity" . "Theme" $theme)}}
    {{else if domainIn .EntityID "button" "input_button" "scene" "script"}}
        {{template "button" (dict "Entity" . "Theme" $theme)}}
    {{else}}
        {{template "button" (dict "Entity" . "Theme" $theme)}}
    {{end}}
{{end}}
</div>
<script>
    (function() {
    var container = document.getElementById('entities-container');
    var cards = container.querySelectorAll('.card');
    var maxW = 0;
    var maxH = 0;
    var i;
    for (i = 0; i < cards.length; i++) {
        if (cards[i].offsetWidth  > maxW) maxW = cards[i].offsetWidth;
        if (cards[i].offsetHeight > maxH) maxH = cards[i].offsetHeight;
    }
    for (i = 0; i < cards.length; i++) {
        cards[i].style.width  = maxW + 'px';
        cards[i].style.height = maxH + 'px';
    }
})();
</script>
{{end}}