{{define "navbar"}}
<nav class="navbar surface-alt">
    {{range $i, $screen := .}}
    <div class="navbar-item{{if eq $i 0}} highlight active{{end}} padding inner " onclick="window.navigateTo({{$i}})">
        <div class="navbar-icon accent font-lg">
            {{if $screen.Icon}}
                {{icon $screen.Icon}}
            {{else}}
                {{icon "circle-medium"}}
            {{end}}
        </div>
        <div class="navbar-label on-surface font-sm">{{$screen.Name}}</div>
    </div>
    {{end}}
</nav>
<script>
component(function(navbar) {
    // Needed because absolute positioned elements are apprantly
    // not layed until a second paint
    requestAnimationFrame(function(){ normalizeWidth(navbar) });

    var items = navbar.querySelectorAll('.navbar-item');
    window.addEventListener('screen-navigate', function(e) {
        for (var i = 0; i < items.length; i++) {
            if (i === e.detail.index) {
                items[i].classList.add("active", "highlight");
            } else {
                items[i].classList.remove("active","highlight");
            }
        }
    })
});
</script>
{{end}}