{{define "navbar"}}
<nav class="navbar">
    {{range $i, $screen := .}}
    <div class="navbar-item{{if eq $i 0}} active{{end}}" onclick="window.navigateTo({{$i}})">
        <div class="navbar-icon">
            {{if $screen.Icon}}
                {{icon $screen.Icon}}
            {{else}}
                {{icon "circle-medium"}}
            {{end}}
        </div>
        <div class="navbar-label">{{$screen.Name}}</div>
    </div>
    {{end}}
</nav>
<script>
component(function(navbar) {
    normalizeWidth(navbar)
});
</script>
{{end}}