{{define "screenonlock"}}
<style>
    #screenon-btn {
        position: fixed;
        bottom: 24px;
        left: 24px;
        transform: translateZ(0);
    }

    #screenon-btn.active {
        background-color: #1a3a1a;
    }
    #screenon-btn.active svg {
        fill: #44ff88;
    }
    #screenon-btn:active {
        -webkit-transform: scale(0.88);
        transform: scale(0.88);
    }
</style>

<button id="screenon-btn" class="btn interactive accent-muted-bg" title="Keep screen on">
    {{icon "eye"}}
</button>
{{end}}
{{define "screenonlock-script-fully"}}
<script>
component(function(screenOnBtn) {
    var previousTimer = '{{ .ScreensaverTimeout }}';
    var screenOnBtn = document.getElementById('screenon-btn');


    function getTimer() {
        if (typeof fully !== 'undefined') {
            return fully.getStringSetting("timeToScreensaverV2");
        }
        return previousTimer;
    }

    function setScreensaverOff() {
        var current = getTimer();
        if (current != 0) { previousTimer = current; }
        if (typeof fully !== 'undefined') {
            fully.setStringSetting("timeToScreensaverV2", 0);
        }
        screenOnBtn.classList.add('active');
    }

    function setScreensaverOn() {
        if (typeof fully !== 'undefined') {
            fully.setStringSetting("timeToScreensaverV2", previousTimer != 0 ? previousTimer : '{{ .ScreensaverTimeout }}');
        }
        screenOnBtn.classList.remove('active');
    }

    function isScreenAlwaysOn() {
        return getTimer() == 0;
    }

    screenOnBtn.addEventListener('click', function() {
        if (isScreenAlwaysOn()) {
            setScreensaverOn();
        } else {
            setScreensaverOff();
        }
    });

    if (isScreenAlwaysOn()) {
        screenOnBtn.classList.add('active');
    } else {
        screenOnBtn.classList.remove('active');
    }

    window.setScreensaverOn    = setScreensaverOn;
    window.setScreensaverOff   = setScreensaverOff;
    window.screensaverIsOn     = isScreenAlwaysOn;
});
</script>
{{end}}
{{define "screenonlock-script-wallpanel"}}
<script>
component(function(screenOnBtn) {
    var previousTimer = 0;
    var wakeInterval = null;

    function postWPApi(body, func) {
        try {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:2971/api/command', true);
            xhr.onreadystatechange = xhr.onreadystatechange = function() {
                if (true) {
                    func();
                }
                {{/* screenOnBtn.textContent = xhr.readyState + ":" + xhr.status + ":" + isScreenAlwaysOn(); */}}
            };
            xhr.send(JSON.stringify(body));
            return true;
        } catch (e) { return false; }
    }

    function wake(func) {
        postWPApi({wake: true, wakeTime: 999999}, func)
    }

    function releaseWake(func) {
        postWPApi({wake: false}, func)
    }

    function setScreensaverOn(callback) {
        releaseWake(function(){
            if (wakeInterval) {
                clearInterval(wakeInterval);
                wakeInterval = null;
            }
            localStorage.setItem("wp_keepawake", "false");
            screenOnBtn.classList.remove('active');
            if (callback) callback();
        })
    }
        

    function setScreensaverOff(callback) {
        if (wakeInterval) {
            clearInterval(wakeInterval);
            wakeInterval = null;
        }
        wake(function() {
            wakeInterval = setInterval(function() {
                wake(function(){});  // pass empty func so XHR doesn't break
            }, 999998);
            localStorage.setItem("wp_keepawake", "true");
            screenOnBtn.classList.add('active');
            if (callback) callback();
        });
    }

    function isScreenAlwaysOn() {
        return localStorage.getItem("wp_keepawake") === "true";
    }

    screenOnBtn.addEventListener('click', function() {
        console.log("hello?")
        if (isScreenAlwaysOn()) {
            setScreensaverOn();
        } else {
            setScreensaverOff();
        }
    });

    // Restore state on load
    if (isScreenAlwaysOn()) {
        screenOnBtn.classList.add('active');
        setScreensaverOff();
    } else {
        screenOnBtn.classList.remove('active');
    }

    window.setScreensaverOn    = setScreensaverOn;
    window.setScreensaverOff   = setScreensaverOff;
    window.screensaverIsOn     = isScreenAlwaysOn;

});
</script>
{{end}}