{{define "_sensor-style"}}
{{if once "sensor-style"}}
<style>
  .sensor.card {
    padding: 1em;
  }

  .sensor-label-wrapper {
    color: rgba(255,255,255,0.6);
    letter-spacing: 0.08em;
    margin-bottom: 0.35em;
    
  }

  .sensor-value-wrapper {
    text-align: center;
  }

  .sensor-value-anchor {
    display: inline-block;
    position: relative;
  }

  .sensor-value {
    font-weight: 600;
    line-height: 1;
    display: inline-block;
  }

  .sensor-unit {
    position: absolute;
    left: 100%;
    bottom: 0;
    white-space: nowrap;
  }
</style>
{{end}}
{{end}}

{{define "_sensor"}}
<div class="sensor card flex flex-col align-center justify-center border">
    <div class="sensor-label-wrapper on-surface-muted font-md flex-line">
      <div class="icon">{{icon .Icon}}</div>
      <div class="sensor-label">{{.Label}}</div>
    </div>
    <div class="sensor-value-wrapper">
      <span class="sensor-value-anchor">
        <span class="sensor-value on-surface font-xl">—</span>
        <span class="sensor-unit on-surface-subtle font-md">{{.Options.Unit}}</span>
      </span>
    </div>
</div>
{{end}}
{{define "_sensor-script"}}
<script>
component(function(root) {
  var entityId = '{{.EntityID}}';
  var el = root.querySelector('.sensor-value');

  function update(state, attrs) {
    el.textContent = state;
  }

  window.entityListeners[entityId].push(update)
});
</script>
{{end}}

{{define "sensor"}}
  {{template "_sensor-style"}}
  {{template "_sensor" .}}
  {{template "_sensor-script" .}}
{{end}}