{{define "sensors"}}
<style>
  .sensor-widget {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 1em;
    margin: 0.3125em;
    {{template "create-card-theme" .Theme.Sensors}}
  }

  .sensor-label {
    color: {{.Theme.SecondaryFontColor | default "#ffffff"}};
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    {{if not .Theme.SecondaryFontColor}}
    opacity: 0.6;
    {{end}}
    margin-bottom: 0.35em;
    
  }

  .sensor-value {
    color: {{.Theme.FontColor | default "#ffffff"}};
    font-size: 1.9em;
    font-weight: 600;
    line-height: 1;
  }

  .sensor-unit {
    color: {{.Theme.SecondaryFontColor | default "#ffffff"}};
    font-size: 0.85em;
    {{if not .Theme.SecondaryFontColor}}
    opacity: 0.5;
    {{end}}
    margin-top: 0.25rem;
  }

  #sensors-container {
      display: flex;
      -webkit-transition: opacity 0.8s ease, margin-bottom 0.5s ease;
      transition: opacity 0.8s ease, margin-bottom 0.5s ease;
      width: 75vw;
      justify-content: space-around;;
      flex-wrap: wrap;
      align-items: center;
      font-size: font-size: {{if .Theme.Sensors.FontSize}}{{.Theme.Sensors.FontSize}}px{{else}}inherit{{end}};;
  }
</style>

<div id="sensors-container" style="order: {{.Order.Sensors}}">
  {{range .Sensors}}
    <div class="sensor-widget card" id="sensor-{{.EntityID}}">
      <div class="sensor-label">{{.Label}}</div>
      <div class="sensor-value" id="sensor-value-{{.EntityID}}">—</div>
      <div class="sensor-unit">{{.Unit}}</div>
    </div>
    <script>
    (function() {
      var entityId = '{{.EntityID}}';
      var el = document.getElementById('sensor-value-' + entityId);
    
      function update(state, attrs) {
        el.textContent = state;
      }
    
      window.entityListeners[entityId] = update
    })();
    </script>
  {{end}}
</div>

<script>
  (function(){
    var sensors = document.getElementById("sensors-container").children
    var firstEl = true
    var widest = 0
    for (var i = 0; i < sensors.length; i+=2)  { // Every other element to skip the script tags
      if (firstEl) {
        sensors[i].style.margin = "0px"
        firstEl = false
      }
      currentWidth = sensors[i].clientWidth
      if (currentWidth > widest) {
        widest = currentWidth
      }
    }
    for (var i = 0; i < sensors.length; i+=2)  {
      sensors[i].style.minWidth = (widest + 2).toString() + "px"
    }
  }());
</script>

{{end}}