{{define "websocket"}}
<script>
(function() {
  var RECONNECT_DELAY_MS = 5000;
  var entityIds = window.CONFIG.entity_ids;
  window.haMsgId = 0
  window.haSubscribeId = null;
  window.haSubscribeId = ++window.haMsgId;
  var haSocket = null;
  var haSocketReady = false;
  window.entityListeners = {}; // Callback dict for calling entities on incoming ws messages

  window.haSend = function(msg) {
      if (!haSocketReady) return;
      msg.id = ++window.haMsgId;
      haSocket.send(JSON.stringify(msg));
  };

  function updateEntities(entities) {
    var entityId, entity;
    for (entityId in entities) {
        if (!entities.hasOwnProperty(entityId)) { continue; }
        entity = entities[entityId];

        fields = entity['+'] !== undefined ? entity['+'] : entity;

        var state, attributes
        if (fields.s !== undefined) {
            state = fields.s;
        }
        if (fields.a !== undefined) {
            attributes = fields.a;
        }

        var listener = window.entityListeners[entityId];
        if (listener) listener(state, attributes);
    }
  }

  function connect() {
    var ws = new WebSocket(
      (location.protocol === 'https:' ? 'wss://' : 'ws://') + location.host + '/api/ws'
    );

    ws.onopen = function() {
      haSocketReady = true;
      haSocket = ws
      ws.send(JSON.stringify({
        id: window.haSubscribeId,
        type: 'subscribe_entities',
        entity_ids: entityIds
      }));
    };

    ws.onmessage = function(evt) {
      console.log("Raw message from server ", evt.data);
      var msg;
      if (evt.data == "reload") {
        location.reload()
      }
      try { msg = JSON.parse(evt.data); } catch(e) { return; }

      if (msg.type !== 'event' || msg.id !== window.haSubscribeId) { return; }

      var ev = msg.event;

      if (ev.a) { updateEntities(ev.a); }
      if (ev.c) { updateEntities(ev.c); }
    };

    ws.onclose = function() { setTimeout(connect, RECONNECT_DELAY_MS);haSocketReady = false; };
    ws.onerror = function() { ws.close(); };
  }

  connect();
})();
</script>
{{end}}