{{define "websocket"}}
<script>
(function() {
  var RECONNECT_DELAY_MS = 5000;
  var entityIds = window.CONFIG.entity_ids;
  window.haMsgId = 0
  window.haSubscribeId = null;
  window.haSubscribeId = ++window.haMsgId;
  var haSocket = null;
  window.haSocketReady = false;
  var pendingMap = {};

  // Callback dict for calling entities on incoming ws messages
  // Keys are entity ids, values are list of callbacks
  window.entityListeners = {};
  for (id of window.CONFIG.entity_ids) {
    window.entityListeners[id] = [];
  } 

  window.onHaReady = []; // Callback list for fetching initial state

  window.haSend = function(msg) {
    return new Promise(function(resolve, reject) {
        if (!window.haSocketReady) {
            reject(new Error('socket not ready'));
            return;
        }
        msg.id = ++window.haMsgId;
        pendingMap[msg.id] = function(response) {
            if (response.success === false) {
                reject(response.error);
            } else {
                resolve(response.result);
            }
        };
        haSocket.send(JSON.stringify(msg));
    });
};

  function updateEntities(entities) {
      var entityId, entity, fields, state, attributes;
      for (entityId in entities) {
          if (!entities.hasOwnProperty(entityId)) { continue; }
          entity = entities[entityId];
          fields = entity['+'] !== undefined ? entity['+'] : entity;
          state = fields.s !== undefined ? fields.s : undefined;
          attributes = fields.a !== undefined ? fields.a : undefined;
          var listeners = window.entityListeners[entityId];
          if (!listeners) { continue; }
          for (listener of  listeners) {
            if (listener) { listener(state, attributes); }
          }
      }
  }
  function connect() {
    var ws = new WebSocket(
      (location.protocol === 'https:' ? 'wss://' : 'ws://') + location.host + '/api/ws'
    );

    ws.onopen = function() {
      haSocket = ws
      window.haSocketReady = true;
      ws.send(JSON.stringify({
        id: window.haSubscribeId,
        type: 'subscribe_entities',
        entity_ids: entityIds
      }));
      if (window.onHaReady == []) { return ;}
      for (cb of window.onHaReady) {
        console.log("onhaready callback is: ", cb)
        if (cb) { cb(); }
        
      }
    };

    ws.onmessage = function(evt) {
      {{/* console.log("Raw message from server ", evt.data); */}}
      var msg;
      if (evt.data == "reload") {
        location.reload()
      }
      try { msg = JSON.parse(evt.data); } catch(e) { return; }

      if (msg.type === 'result' && pendingMap[msg.id]) {
        var cb = pendingMap[msg.id];
        delete pendingMap[msg.id];
        cb(msg);
        return;
      }

      if (msg.type !== 'event' || msg.id !== window.haSubscribeId) { return; }

      var ev = msg.event;

      if (ev.a) { updateEntities(ev.a); }
      if (ev.c) { updateEntities(ev.c); }
    };
    ws.onclose = function() { setTimeout(connect, RECONNECT_DELAY_MS);window.haSocketReady = false; };
    ws.onerror = function() { ws.close(); };
  }
  connect();


})();
</script>
{{end}}