{{define "widgets"}}
<style>
.widgets-container {
    display: flex;
    flex-direction: column;
    {{if .Theme.Widgets.FontSize}}
        font-size: {{.Theme.Widgets.FontSize}}px;
    {{end}}
    width: 19em;
}
.widgets-container > div {
    margin: 5px 0;
    {{template "create-card-theme" .Theme.Widgets}}
}
</style>

<div class="widgets-container">
{{$theme := .Theme}}
{{range .Screen.Widgets}}
    {{$widgetDict := (dict
            "Theme" $theme
            "Entity" .
        )}}
    {{if eq (domain .EntityID) "weather"}}
        {{template "weather_widget" ($widgetDict)}}
    {{else if eq (domain .EntityID) "media_player"}}
        {{template "media_widget" ($widgetDict)}}
    {{else if eq (domain .EntityID) "todo"}}
        {{template "todo_widget" ($widgetDict)}}
    {{end}}
{{end}}
</div>
{{end}}