{{define "navbar-rectangle-style"}}
<style>
    .navbar {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        z-index: 5;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.1em;
        width: 100%;
        border: 0.1em solid rgba(255, 255, 255, 0.15);
        padding: 0.6em 0.4em;
    }
        
    .navbar-container {
        {{.Position | default "bottom"}}: -0.1em !important;
    }   

    .navbar-item {
        opacity: 0.45;
        padding: 0.5em 1.2em;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        color: {{css .Theme.FontColor}};
        -webkit-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;
    }
    .navbar-item.active {
        opacity: 1;
    }

    .navbar-label {
        font-size: 0.7em;
        margin-top: 0.3em;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        white-space: nowrap;
    }
    .navbar-icon {
        font-size: 1.4em;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
</style>
{{end}}