{{define "centered-layout"}}
{{if once "centered-layout-style"}}
<style>
    .main-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 0 0 3em 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    {{/* .main-container .card-wrapper {
        height: fit-content;
    } */}}
</style>
{{end}}
{{$theme := .Screen.Theme}}
<div class="main-container">
    {{if .Screen.Entities}}
        {{if once "centered-entities-style"}}
        <style>
            .entities-container {
                display: -webkit-flex;
                display: flex;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: stretch;
                align-items: stretch;
                max-width: 75vw;
            }
            .entities-container > .card-wrapper {
                margin: 5px;
            }
        </style>
        {{end}}
        <div class="entities-container" style="order: {{.Screen.Order.Entities}}">
        
        {{range .Screen.Entities.Cards}}
            {{template "card-multiplex" .}}
        {{end}}
        </div>

    {{else}}
        {{/* Take up space inside flexbox */}}
        <div style="display: hidden;"></div>
    {{end}}

    {{if once "centered-center-style"}}
        <style>
            .center-container {
                display: -webkit-box;
                display: -webkit-flex;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                align-items: center;
                width: 100%;
                margin-bottom: 1em;
            }
            .center-container > .card-wrapper {
                margin: 0 2rem 0 2rem;
            }
        </style>
    {{end}}
    <div class="center-container" style="order: {{.Screen.Order.Widgets}}">
        {{if enabledByDefault .Screen.Dateclock.Enabled}}
            {{template "dateclock" (dict
            "Localization" .Config.Localization
            "Dateclock" .Screen.Dateclock
            )}}
        {{end}}

        {{if .Screen.Widgets}}
            <div style="flex-grow:1;"></div>
            {{if once "centered-widgets-style"}}
            <style>
                .widgets-container {
                    display: flex;
                    flex-direction: column;
                    max-width: 38vw;
                    min-height: 0;
                }
                .widgets-container > div {
                    min-height: 0;
                    margin: 5px 0;
                }
                </style>
            {{end}}
                <div class="widgets-container">
                {{range .Screen.Widgets.Cards}}
                    {{template "card-multiplex" .}}
                {{end}}
                </div>
        {{end}}
    </div>

    {{if .Screen.Sensors}}
        {{if once "centered-sensors-style"}}
        <style>
            .sensors-container {
                display: flex;
                -webkit-transition: opacity 0.8s ease, margin-bottom 0.5s ease;
                transition: opacity 0.8s ease, margin-bottom 0.5s ease;
                width: 75vw;
                justify-content: space-around;;
                flex-wrap: wrap;
                align-items: center;
            }
            .sensors-container .card-wrapper {
                display:flex;
                justify-content:center;
            }
            .sensors-container .card.sensor {
                height: fit-content;
                width: fit-content;
                align-self: center
            }
        </style>
        {{end}}
        <div class="sensors-container" style="order: {{.Screen.Order.Sensors}}">
        {{range .Screen.Sensors.Cards}}
            {{template "card-multiplex" .}}
        {{end}}
        </div>
        <script>
            component(function(root) {
                normalizeSize(root)
            });
        </script>
    {{else}}
        {{/* Take up space inside flexbox */}}
        <div style="display: hidden;"></div>
    {{end}}
</div>
{{end}}