{{define "centered-layout"}}
{{if once "centered-layout-style"}}
<style>
    .main-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 0 0 1em 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    {{/* .main-container .card-wrapper {
        height: fit-content;
    } */}}
</style>
{{end}}
{{$theme := .Theme}}
<div class="main-container">
    {{if .Entities}}
        {{if once "centered-entities-style"}}
        <style>
            .entities-container {
                display: -webkit-flex;
                display: flex;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: stretch;
                align-items: stretch;
                max-width: 75vw;
            }
            .entities-container > .card-wrapper {
                margin: 5px;
            }
        </style>
        {{end}}
        {{if .Entities.Style}}
            <style>
                #screen-{{.Name}} .entities-container .card {
                    {{template "create-card-theme" .Entities.Style}}
                }
            </style>
        {{end}}
        <div class="entities-container" style="order: {{.Order.Entities}}">
        {{range .Entities.Cards}}
            {{template "card-multiplex" .}}
        {{end}}
        </div>

    {{else}}
        {{/* Take up space inside flexbox */}}
        <div style="display: hidden;"></div>
    {{end}}

    {{if once "centered-center-style"}}
        <style>
            .center-container {
                display: -webkit-box;
                display: -webkit-flex;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                align-items: center;
                width: 100%;
                margin-bottom: 1em;
                padding: 2em;
            }
            .center-container > .card-wrapper {
                margin: 0 2rem 0 2rem;
            }
        </style>
    {{end}}
    <div class="center-container" style="order: {{.Order.Widgets}}">
        {{if enabledByDefault .Dateclock.Enabled}}
            {{template "dateclock" .Dateclock}}
        {{end}}

        {{if .Widgets}}
            <div style="flex-grow:1;"></div>
            {{if once "centered-widgets-style"}}
            <style>
                .widgets-container {
                    display: flex;
                    flex-direction: column;
                    max-width: 38vw;
                    min-height: 0;
                    flex-grow: 1;
                }
                .widgets-container > div {
                    min-height: 0;
                    margin: 5px 0;
                }
                </style>
            {{end}}
            {{if .Widgets.Style}}
                <style>
                    #screen-{{.Name}} .widgets-container .card {
                        {{template "create-card-theme" .Widgets.Style}}
                    }
                </style>
            {{end}}
            <div class="widgets-container">
            {{range .Widgets.Cards}}
                {{template "card-multiplex" .}}
            {{end}}
            </div>
        {{end}}
    </div>

    {{if .Sensors}}
        {{if once "centered-sensors-style"}}
        <style>
            .sensors-container {
                display: flex;
                -webkit-transition: opacity 0.8s ease, margin-bottom 0.5s ease;
                transition: opacity 0.8s ease, margin-bottom 0.5s ease;
                width: 75vw;
                justify-content: space-around;;
                flex-wrap: wrap;
                align-items: center;
            }
            .sensors-container .card-wrapper {
                display:flex;
                justify-content:center;
            }
            .sensors-container .card.sensor {
                height: fit-content;
                width: fit-content;
                align-self: center;
                height: 100%;
                width: 100%;
            }
        </style>
        {{end}}
        {{if .Sensors.Style}}
            <style>
                #screen-{{.Name}} .sensors-container .card {
                    {{template "create-card-theme" .Sensors.Style}}
                }
            </style>
        {{end}}
        <div class="sensors-container" style="order: {{.Order.Sensors}}">
        {{range .Sensors.Cards}}
            {{template "card-multiplex" .}}
        {{end}}
        </div>
        <script>
            component(function(root) {
                normalizeSize(root)
            });
        </script>
    {{else}}
        {{/* Take up space inside flexbox */}}
        <div style="display: hidden;"></div>
    {{end}}
</div>
{{end}}