{{define "centered-layout"}}
{{if once "centered-layout-style"}}
<style>
    .main-container {
        padding: 0 0 1em 0;
    }
</style>
{{end}}
{{$theme := .Theme}}
<div class="main-container scroll-y flex flex-col align-center justify-between size-full">
    {{if .Entities}}
        {{if once "centered-entities-style"}}
        <style>
            .entities-container {
                max-width: 75vw;
            }
        </style>
        {{end}}
        {{if .Entities.Style}}
            <style>
                #screen-{{.Name}} .entities-container .card {
                    {{template "create-card-theme" .Entities.Style}}
                }
            </style>
        {{end}}
        <div class="entities-container flex align-stretch justify-center flex-wrap" style="order: {{.Order.Entities}}">
        {{range .Entities.Cards}}
            <div class="centered-entity-wrapper gap-horizontal gap-inner">{{template "card-multiplex" .}}</div>
        {{end}}
        </div>

    {{else}}
        {{/* Take up space inside flexbox */}}
        <div style="display: hidden;"></div>
    {{end}}

    {{if once "centered-center-style"}}
        <style>
            .center-container {
                width: 100%;
                margin-bottom: 1em;
                padding: 2em;
            }
            .center-container > .card-wrapper {
                margin: 0 2rem 0 2rem;
            }
        </style>
    {{end}}
    <div class="center-container flex align-center" style="order: {{.Order.Widgets}}">
        {{if enabledByDefault .Dateclock.Enabled}}
            {{template "dateclock" .Dateclock}}
        {{end}}

        {{if .Widgets}}
            <div style="flex-grow:1;"></div>
            {{if once "centered-widgets-style"}}
            <style>
                .widgets-container {
                    min-width: 37vw;
                    max-width: 40vw;
                    min-height: 0;
                }
                .widgets-container > div {
                    min-height: 0;
                }
                </style>
            {{end}}
            {{if .Widgets.Style}}
                <style>
                    #screen-{{.Name}} .widgets-container .card {
                        {{template "create-card-theme" .Widgets.Style}}
                    }
                </style>
            {{end}}
            <div class="widgets-container flex flex-col flex-grow">
            {{range .Widgets.Cards}}
                <div class="centered-widget-wrapper gap-vertical gap-inner">{{template "card-multiplex" .}}</div>
            {{end}}
            </div>
        {{end}}
    </div>

    {{if .Sensors}}
        {{if once "centered-sensors-style"}}
        <style>
            .sensors-container {
                width: 75vw;
                justify-content: space-around;
            }
        </style>
        {{end}}
        {{if .Sensors.Style}}
            <style>
                #screen-{{.Name}} .sensors-container .card {
                    {{template "create-card-theme" .Sensors.Style}}
                }
            </style>
        {{end}}
        <div class="sensors-container flex flex-wrap align-center" style="order: {{.Order.Sensors}}">
        {{range .Sensors.Cards}}
            {{template "card-multiplex" .}}
        {{end}}
        </div>
        <script>
            component(function(root) {
                normalizeSize(root)
            });
        </script>
    {{else}}
        {{/* Take up space inside flexbox */}}
        <div style="display: hidden;"></div>
    {{end}}
</div>
{{end}}