{{define "tiled-layout"}}
{{if once "tiled-layout-style"}}
<style>
    .tiled-clock {
        width: 100%;
        margin-bottom: 1em;
    }

    .tiled-group {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        max-width: 100%;
        touch-action: pan-y;
    }

    .tiled-group-header {
        margin-bottom: 0.5em;
        opacity: 0.5;
        font-size: 0.75em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .tiled-group-header-icon {
        margin-right: 0.4em;
    }

    .tiled-group-header-line {
        background-color: currentColor;
        margin-left: 0.6em;
    }

    .tiled-cards {
        max-width: 100%;
    }

    .tiled-cards .card-wrapper {
        height: 100%;
    }
</style>
{{end}}

{{$screen := .}}
<div class="tiled-container flex flex-col align-center size-full scroll-y gap-outer gap-y">
    {{if enabledByDefault .Dateclock.Enabled}}
        <div class="tiled-clock">
            {{template "dateclock" .Dateclock}}
        </div>
    {{end}}

    {{range $gi, $group := .Groups}}
        <div class="tiled-group gap-inner gap-y" id="group-{{$group.Name}}">
            {{if or $group.Name $group.Icon}}
            <div class="tiled-group-header on-bg flex-line">
                {{if $group.Icon}}
                    <span class="tiled-group-header-icon">{{icon $group.Icon}}</span>
                {{end}}
                {{if $group.Name}}
                    <span>{{$group.Name}}</span>
                {{end}}
                <div class="tiled-group-header-line divider-thin divider-horizontal"></div>
            </div>
            {{end}}

            <div class="tiled-cards flex flex-row flex-wrap gap-inner gap-after gap-from-first" id="tiled-group-{{$gi}}">
                {{range $group.Cards}}
                    <div class="tiled-card-wrapper">{{template "card-multiplex" .}}</div>
                {{end}}
            </div>
            {{if $group.NormalizeHeight}}
                <script>
                    component(function(group) {
                        normalizeHeight(group)
                    })
                </script>
            {{end}}   
        </div>

        {{if $group.Style}}
        <style class="gap-outer gap-y">
            #screen-{{$screen.Name}} #group-{{$group.Name}} .card {
                {{template "create-card-theme" $group.Style}}
            }
        </style>
    {{end}}
    {{end}}
</div>
{{end}}