{{define "base-style"}}
<style>
    :root {
        font-size: 18px;
    }
    
    body {
        font-family: "Outfit", sans-serif;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        overflow: hidden;
    }

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
        
    * {
        {{template "_transition"}}
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        -webkit-tap-highlight-color: transparent;
    }

    *::before { {{template "_transition"}} }
    *::after { {{template "_transition"}} }
    *::-webkit-slider-thumb { {{template "_transition"}} } 
    *::-moz-range-thumb { {{template "_transition"}} }

    .transition-fast { {{template "_transition-fast"}} } 
    .transition-fast *::after { {{template "_transition-fast"}} }
    .transition-fast *::before { {{template "_transition-fast"}} }
    .transition-fast *::-webkit-slider-thumb { {{template "_transition-fast"}} }
    .transition-fast *::-moz-range-thumb { {{template "_transition-fast"}} }
    
    button:focus { outline: none; }

    .btn {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        font: inherit;
        font-size: 1em;
        text-transform: unset;
    }

    .btn:active {
        -webkit-transform: scale(0.92);
        transform: scale(0.92);
    }

    .button {
        z-index: 50;
        font-size: initial;
    }

    .button svg {
        width: 2.33em;
        height: 2.33em;
    }

    input[type=range].thumb { {{template "_slider-thumb"}} }
    input[type=range].thumb::-webkit-slider-thumb { 
        {{template "_slider-thumb"}}
        border-radius: 50%; 
    } 
    input[type=range].thumb::-moz-range-thumb { 
        {{template "_slider-thumb"}}
        border-radius: 50%;
    }

    .card {
        height: 100%;
        width: 100%;
        {{template "_flex"}}
        {{template "_flex-col"}}
        {{template "_flex-grow-1"}}
    }

    .card-wrapper {
        position: relative;
        padding: 0 !important;
    }

    .card-inner {
        background: none !important;
        height: max-content !important;
        font-size: unset !important;
        {{template "_flex-grow-1"}}
    }

    .tooltip {
        display: none;
        position: absolute;
        top: calc(100% + 0.5em);
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background: rgba(7,16,34,0.96);
        border: 0.0625em solid rgba(130,185,255,0.15);
        padding: 0.8125em 0.9375em 0.6875em;
        z-index: 200;
        -webkit-box-shadow: 0 12px 32px rgba(0,0,0,0.55);
        box-shadow: 0 12px 32px rgba(0,0,0,0.55);
        width: fit-content !important;
        height: fit-content !important;
     }

    .expanded .tooltip, .tooltip.expanded {
         display: block;
    }

    .tooltip::before {
        content: '';
        position: absolute;
        top: -0.3125em;
        left: 50%;
        width: 0.5625em;
        height: 0.5625em;
        background: inherit;
        border-left: inherit;
        border-top: inherit;
        -webkit-transform: translateX(-50%) rotate(45deg);
        transform: translateX(-50%) rotate(45deg);
    }

    .badge, .badge-btn {
        {{template "_flex"}}
        {{template "_flex-row"}}
        {{template "_align-center"}}
    }

    .badge-btn {
        cursor: pointer;
        font-size: 1em;
    }

    .badge > .icon, .badge-btn > .icon {
         margin-right: 0.4em;
    }

    .badge-btn:active {
        opacity: 0.6;
    }

</style>
{{end}}