{{define "base-style"}}
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        -webkit-transition: color 0.5s ease, background-color 0.5s ease, background 0.5s ease, opacity 0.7s ease;
        transition: color 0.5s ease, background-color 0.5s ease, background 0.5s ease, opacity 0.7s ease;
    }
    body {
        background-color: {{.BodyBackground | default "#000000"}};
        background: {{.BackgroundGradient}};
        color: {{.FontColor | default "#ffffff"}};
        font-family: "Outfit", sans-serif;
        display: -webkit-flex;
        display: flex;
    
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        -webkit-transition: background-color 0.8s ease;
        transition: background-color 0.8s ease;
    }

    .card {
        background: {{ .CardBackground | default "rgba(18, 18, 18, 0.75)"}};
    }
</style>
{{end}}