{{define "btn-style"}}
    <style>
        .btn {
            width: 4.5em;
            height: 4.5em;
            background-color: {{.ButtonBackground | default "#1a1a1a" | css}};
            border: none;
            border-radius: 1em;
            cursor: pointer;
            outline: none;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            z-index: 50;
        }
        .btn svg {
            width: 2.33em;
            height: 2.33em;
        }
        .btn:active {
            -webkit-transform: scale(0.88);
            transform: scale(0.88);
        }
    </style>
{{end}}