{{define "create-card-theme"}}
{{if .Borders}}
border: {{if disabledByDefault .Borders}}0.125em solid{{else}}none{{end}};
{{end}}
{{if .BorderColor}}
border-color: {{.BorderColor | css}};
{{end}}    
{{if .Background}}
background-color: {{.Background | css}};
{{end}}
{{if .BorderRadius}}
border-radius: {{.BorderRadius | css}};
{{end}}

{{end}}