{{define "create-card-theme"}}
{{if .Borders}}
    {{if .Borders | bool}}
        border-style: solid;
    {{else}}
        border-style: none;
    {{end}}
{{end}}

{{if .BorderColor}}
    border-color: {{.BorderColor | css}};
{{end}}    
{{if .BorderRadius}}
    border-radius: {{.BorderRadius | css}};
{{end}}
{{if .BorderWidth}}
    border-width: {{.BorderWidth | css}};
{{end}}
{{if .Background}}
    background-color: {{.Background | css}};
{{end}}
{{if .Padding}}
    padding: {{.Padding | css}};
{{end}}
{{if .FontSize}}
    font-size: {{.FontSize}}em;
{{end}}
{{if .Custom}}
    {{.Custom | css}}
{{end}}
{{end}}