{{define "utility-styles"}}
<style>
    .icon {
        height: 1em;
        width: 1em;
    }

    .hide {
        visibility: hidden;
        pointer-events: none;
    }

    .divider-horizontal {
        width: 100% !important;
    }

    .divider-vertical {
        height: 100% !important;
    }

    .template {
        display: none !important;
        margin: 0 !important;
    }

    .gap-y > * {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
    }

    .gap-x > *     {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-right: 0 !important;
    }

    .gap-y.gap-from-first > * {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
    }

    .gap-x.gap-from-first > * {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
    }

    {{/* .gap-from-first > *:last-child {
        margin: 0 !important;
    } */}}
    
    .gap-after > * {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

    .gap-before > * {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

    .padding.vertical {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .padding.horizontal {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .text-ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .flex { {{template "_flex"}} }
    .flex-row { {{template "_flex-row"}} }
    .flex-col { {{template "_flex-col"}} }
    .flex-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .justify-start {
        -webkit-box-pack: start;
        -webkit-justify-content: start;
        justify-content: start;
    }
    .justify-center {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .justify-end {
        -webkit-box-pack: end;
        -webkit-justify-content: end;
        justify-content: end;
    }
    .justify-between {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .align-start {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .align-center { {{template "_align-center"}} }
    .align-end {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
    }
    .align-strech {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        align-items: stretch;
    }
    .align-baseline {
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        align-items: baseline;
    }
    .flex-wrap {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex-grow-1 { {{template "_flex-grow-1"}} }
    .flex-grow-0 { {{template "_flex-grow-0"}} }
    .flex-shrink-0 {
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
    }

    .flex-line {
        {{template "_flex"}}
        {{template "_flex-row"}}
        {{template "_align-center"}}
    }

    .size-full { {{template "_size-full"}} }

    .scroll-y {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .no-wrap {
        text-wrap: nowrap;
        white-space: nowrap;
    }
</style>
{{end}}