{{define "todo-widget" }}
{{if once "todo-widget-style"}}
<style>
    .todo-container {
        overflow: hidden;
    }
    
    .todo-icon {
        font-size: 1.2em;
        line-height: 1;
    }

    .todo-name {
        font-size: 1.3em;
        font-weight: 700;
        color: #f0e0c0;
        line-height: 1;
    }

    .todo-statistic {
        font-size: 0.9em;
        font-weight: 400;
        color: #a08060;
    }

    .todo-controls {
        display: flex;
        font-size: 0.8em;
    }

    .todo-btn {
        padding: 0.45em 0.6em 0.5em 0.6em;
        font-size: 0.9em;

        border-radius: 0.6em;
        border: none;

        cursor: pointer;

        background: rgba(255,255,255,0.08);
        color: inherit;
    }

    .todo-btn span.divider {
        margin:0 0.15em;
    }

    .todo-btn.complete svg {
        fill: #4caf50;
    }


    .todo-btn.delete svg {
        fill: #cf1020;
    }

    .todo-list {
        overflow-y: scroll;
    }

    .todo-add {
        min-height: max-content;
    }

    .todo-input {
        color: inherit;
        outline: none;
        font-size: 1em;
        background: transparent;
        border: none;
    }

    .todo-add-btn:active {
        opacity: 0.6;
    }

    .todo {
        list-style: none;
    }

    .todo-label {
        align-items: center;
        cursor: pointer;
    }

    .todo-checkbox {
        display: none;
    }

    .todo-checkmark {
        margin: 0 !important;
        width: 1.2em;
        height: 1.2em;

        border: 0.08em solid rgba(200,200,200,0.6);
        border-radius: 0.3em;
        background-color: rgba(200,200,200,0.2);

        position: relative;
    }

    .todo-checkmark::after {
        content: "";
        position: absolute;

        left: 0.33em;
        top: 0.15em;

        width: 0.25em;
        height: 0.5em;

        border: solid #4caf50;
        border-width: 0 0.19em 0.19em 0;

        transform: rotate(45deg);
        display: none;
    }

    .todo-checkbox:checked + .todo-checkmark::after {
        display: block;
    }

    .todo-checkbox:checked + .todo-checkmark {
        background: rgba(80, 200, 120, 0.3);
        border-color: #4caf50;
    }

    /* Strike-through when checked */
    .todo-checkbox:checked ~ .todo-text {
        text-decoration: line-through;
        color: #888;
    }
</style>
{{end}}
<div class="todo-container widget card border card-wrapper">
    <div class="todo-header widget card card-inner flex-line justify-between gap-x gap-outer">
        <div class="todo-info gap-x gap-inner flex-line">
            {{if .Icon}}
            <span class="todo-icon accent-muted icon">{{icon .Icon}}</span>
            {{end}}
            <span class="todo-name on-surface font-xl">Todos</span>
            <span class="on-surface-subtle font-lg"> - </span>
            <span class="todo-statistic on-surface-muted font-lg">0/0</span>
        </div>
        <div class="todo-controls on-surface gap-inner gap-x gap-inner flex">
            <button class="todo-btn flex align-center btn complete positive-bg">
                <span style="margin-top: 0.2em">{{icon "check-all"}}</span><span class="divider"></span><span>All</span>
            </button>
            <button class="todo-btn flex align-center btn delete negative-bg">
                <span style="margin-top: 0.3em">{{icon "delete"}}</span><span class="divider"></span><span>Done</span>
            </button>
        </div>
    </div>
    {{if enabledByDefault .InternalBorders}}
        <div class="divider-horizontal divider-thin border-bg"></div>
    {{end}}
    <div class="todo-list widget card card-inner gap-outer gap-y">
        <div class="todo-add flex surface-subtle border border-thick on-surface padding inner">
            <input 
                type="text" 
                class="todo-input flex-grow" 
                placeholder="Add a todo..."
            >
            <button class="todo-add-btn interactive btn">
                ＋
            </button>
        </div>
        <ol class="todos flex flex-col align-start justify-center gap-outer gap-y">
            <li class="todo template">
                <label class="todo-label flex gap-x gap-inner">
                    <input type="checkbox" class="todo-checkbox">
                    <span class="todo-checkmark"></span>
                    <span class="todo-text on-surface">dummy</span>
                </label>
            </li>
        </ol>
    </div>
</div>

<script>
component(function(wrapper) {
var POLL_INTERVAL = 10 * 60 * 1000;
var entityId = {{ .EntityID }};
if (!entityId) { return; }

var locale   = window.CONFIG.locale;
var timezone = window.CONFIG.timezone;

var statisticEl = wrapper.querySelector(".todo-statistic");
var todosEl = wrapper.querySelector(".todos");
var dummyTodo = wrapper.querySelector(".todo.template");
var delComButton = wrapper.querySelector(".todo-btn.delete");
var comAllButton = wrapper.querySelector(".todo-btn.complete");
var input = wrapper.querySelector(".todo-input");
var addButton = wrapper.querySelector(".todo-add-btn");

var todoIds = new Set();
var numCompleted = 0;
var expectedCompleted = 0;
var lastCheckedNode;

function updateTodo(todo, node) {
    node.id = "todo-" + todo.uid;

    var checkboxNode = node.querySelector(".todo-checkbox");
    var textNode = node.querySelector(".todo-text");
    textNode.textContent = todo.summary;
    checkboxNode.checked = (todo.status === "completed");
    checkboxNode.onchange = function () {
        setStatus(todo.uid, checkboxNode.checked);
        lastCheckedNode = checkboxNode;
    };
}

function renderTodos(todos) {
    console.log("renderTodos ran with: ", todos);
    console.log("todosEl to append to is: ", todosEl)
    console.log("dummy todo is: ", dummyTodo)
    for (todo of todos) {
        console.log("todo inside loop is: ", todo)
        if (todoIds.has(todo.uid)) {
            updateTodo(todo, document.getElementById("todo-" + todo.uid));
            continue;
        }

        var newTodo = dummyTodo.cloneNode(true);
        newTodo.classList.remove("template")
        updateTodo(todo, newTodo);
        todosEl.appendChild(newTodo);
    }

}

function renderStatistic() {
    statisticEl.textContent = numCompleted + "/" + todoIds.size;
}
    
function clearOldTodos() {
    var nodes = todosEl.querySelectorAll("li");
    console.log("nodes in clear old: ", nodes)
    for (var i = nodes.length - 1; i >= 1; i--) { // stop at 1 to not remove todo template
        var node = nodes[i];
        var id = node.id.slice(5);

        if (!todoIds.has(id)) {
            node.parentNode.removeChild(node);
        }
    }
}

function fetchTodos() {
    console.log("fetchTodos ran");
    window.haSend({
        type: 'call_service',
        domain: 'todo',
        service: 'get_items',
        target: { entity_id: entityId },
        return_response: true
    }).then(function(result) {
        console.log("fetchTodos got: ", result);
        var todos = result.response
        && result.response[entityId]
        && result.response[entityId].items;
        renderTodos(todos || []);

        numCompleted = 0;
        todoIds.clear();
        newTodos = new Set()
        for (todo of todos) {
            todoIds.add(todo.uid);
            if (todo.status == "completed") {
                ++numCompleted;
            }
        }
        clearOldTodos();
        renderStatistic();
    });
}

function addTodo(name) {
    window.haSend({
        type: 'call_service',
        domain: 'todo',
        service: 'add_item',
        service_data: { item: name, },
        target: { entity_id: entityId },
    });
}

function setStatus(id, status) {
    if (status) {
        ++expectedCompleted;
    } else {
        --expectedCompleted;
    }
    var statusStr =  status ? "completed" : "needs_action"
    
    window.haSend({
        type: 'call_service',
        domain: 'todo',
        service: 'update_item',
        service_data: { item: id, status: statusStr },
        target: { entity_id: entityId },
    });
}

function completeAll() {
    // Dont listen for events so as to not refetch
    // all todos on every set as completed.
    window.entityListeners[entityId][listenerIndex] = null;
    for (id of todoIds) {
        setStatus(id, true);
    }
    window.entityListeners[entityId][listenerIndex] = stateEventListener;
}

function deleteCompleted() {
    window.haSend({
        type: 'call_service',
        domain: 'todo',
        service: 'remove_completed_items',
        target: { entity_id: entityId },
    });
    // HA does not send an event after this service
    fetchTodos()
}

function stateEventListener(state, attributes) {
    if (state !== undefined) { 
        console.log("got for todo: ", state, attributes);
        if (lastCheckedNode && state != expectedCompleted) {
            console.error("HA did not expected number of completed todos");
            // Toggle back last check
            lastCheckedNode.checked = !lastCheckedNode.checked;
        }
        if (attributes !== undefined) {
            wrapper.querySelector(".todo-name").textContent = attributes.friendly_name;
        }
        fetchTodos();
    }
}

window.entityListeners[entityId].push(stateEventListener);
var listenerIndex = window.entityListeners.length;

window.onHaReady.push(function() {
    setInterval(fetchTodos, POLL_INTERVAL);
});



delComButton.onclick = deleteCompleted;
comAllButton.onclick = completeAll;
addButton.onclick = function () {
    if (input.value.trim() !== "") {
        addTodo(input.value);
        input.value = "";
    }
};

});
</script>
{{end}}