{{define "screenonlock"}}
<style>
    #screenon-btn {
        position: fixed;
        bottom: 24px;
        left: 24px;
    }

    #screenon-btn.active {
        background-color: #1a3a1a;
    }
    #screenon-btn.active svg {
        fill: #44ff88;
    }
    #screenon-btn:active {
        -webkit-transform: scale(0.88);
        transform: scale(0.88);
    }
</style>

<button id="screenon-btn" class="btn" title="Keep screen on">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"></path>
    </svg>
</button>

<script>
    var screenOnActive = false;
    var screenOnBtn = document.getElementById('screenon-btn');
    var previousTimer = fully.getStringSetting("timeToScreensaverV2");
    if (previousTimer == 0) {
        screenOnBtn.classList.add('active')
    }
    else {
        screenOnBtn.classList.remove('active')
    }

    screenOnBtn.addEventListener('click', function() {
        var currentTimer = fully.getStringSetting("timeToScreensaverV2")
        console.log("Current screensaver timer is: ", currentTimer)
        console.log(currentTimer)
        if (currentTimer == 0) {
            fully.setStringSetting("timeToScreensaverV2", previousTimer != 0 ? previousTimer : {{ .FullyKiosk.ScreensaverTimeout }})
            console.log("Set screensaver timer to ", previousTimer)
            console.log(previousTimer)
        }
        else {
            previousTimer = currentTimer;
            console.log(previousTimer)
            fully.setStringSetting("timeToScreensaverV2", 0)
            console.log("Set screensaver timer to 0")
        }
        screenOnActive = currentTimer != 0;
        if (screenOnActive) {
            screenOnBtn.classList.add('active')
        }
        else {
            screenOnBtn.classList.remove('active')
        }
    });
</script>
{{end}}