{{define "websocket"}}
<script>
(function() {
  var RECONNECT_DELAY_MS = 5000;
  var entityIds = window.CONFIG.entity_ids;
  var msgId = 1;

  window.entityState = {};

  function processEntities(entities) {
    var entityId, entity;
    for (entityId in entities) {
        if (!entities.hasOwnProperty(entityId)) { continue; }
        entity = entities[entityId];

        if (!window.entityState[entityId]) {
            window.entityState[entityId] = {};
        }

        fields = entity['+'] !== undefined ? entity['+'] : entity;

        if (fields.s !== undefined) {
            window.entityState[entityId].s = fields.s;
        }
        if (fields.a !== undefined) {
            window.entityState[entityId].a = fields.a;
    }

      document.dispatchEvent(new CustomEvent('ha-state-change', {
        detail: {
          entity_id: entityId,
          state: window.entityState[entityId].s,
          attributes: window.entityState[entityId].a
        }
      }));
    }
  }

  function connect() {
    var ws = new WebSocket(
      (location.protocol === 'https:' ? 'wss://' : 'ws://') + location.host + '/api/ws'
    );

    ws.onopen = function() {
      ws.send(JSON.stringify({
        id: msgId,
        type: 'subscribe_entities',
        entity_ids: entityIds
      }));
    };

    ws.onmessage = function(evt) {
      var msg;
      try { msg = JSON.parse(evt.data); } catch(e) { return; }
      console.log("Message from server ", msg);

      if (msg.type !== 'event' || msg.id !== msgId) { return; }

      var ev = msg.event;

      if (ev.a) { processEntities(ev.a); }

      if (ev.c) { processEntities(ev.c); }
    };

    ws.onclose = function() { setTimeout(connect, RECONNECT_DELAY_MS); };
    ws.onerror = function() { ws.close(); };
  }

  connect();
})();
</script>
{{end}}